{% extends "base.html" %}

{% block title %}Контакти{% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="page-title">Контакти: </h1>

    <div class="contact-list">
        <div class="contact-item">
            <span class="contact-label">Email:</span> example@techblog.com
        </div>

        <div class="contact-item">
            <span class="contact-label">Телефон:</span> +380 ...
        </div>

        <div class="contact-item">
            <span class="contact-label">Місто:</span> Київ, Україна
        </div>
    </div>
</div>
{% endblock %}